<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;"/>
</head>
<body style="padding:0; margin:0; color:#60657b; font-family:Helvetica,Helvetica neue,Roboto,Verdana,Arial,Verdana,sans-serif!important; -webkit-text-size-adjust: none; font-size:'14px';">
<table style="-webkit-text-size-adjust: none; background-color:#F5F8FA;" width="100%" cellspacing="0" cellpadding="0"
       border="0">
  <tr>
    <td align="center">
      <table width="100%" cellpadding="0" cellspacing="0" border="0"
             style="min-width:200px; border: none; max-width:600px; border-collapse: collapse;">
        <tr style="background:#ffffff;">
          <td>
            <a style="color:white; text-decoration:none;" href="javascript:void(0);">
              <h1 style="text-align:center;margin:0px;background-color: #ffffff;margin: 0 0 0px;padding: 10px;">
                <img src="https://picsum.photos/200"
                     width="100">
              </h1>
            </a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td align="center">
      <table width="100%" cellpadding="0" cellspacing="0" border="0"
             style="min-width:200px; max-width:600px; border-collapse: collapse; background-color:#FFFFFF;">
        <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
          <center>
          <p>
            SevenX
            <br/>
          </p>
          <a th:href="${resetUrl}" >Click here to reset password</a>
          <br/>
          <p>Thanks</p>
          </center>
        </td>
      </table>
    </td>
  </tr>
  <tr>
    <td align="center">
      <table width="100%" cellpadding="0" cellspacing="0" border="0"
             style="min-width:200px; border: none; max-width:600px; border-collapse: collapse;">
        <tr>
          <td style="text-align:center; background-color: #fff; color: #b8bccc;padding:15px;" colspan="2">
            Copyright © <span th:utext="${year}"></span> SevenX Inc.
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>